body {margin: 0}

@keyframes slide{
  0%{
    background-position: 0% 4%;
  }
  100%{
    background-position: 5% 100%;
  }
}


@keyframes colorchange{
  0%{background-color:#B7F0AD}
  50%{background-color:#6bb30d}
  100%{background-color:#B7F0AD}
}
@keyframes colorchange-border{
  0%{border-color:#B7F0AD}
  50%{border-color:#6bb30d}
  100%{border-color:#B7F0AD}
}
@keyframes scootch{
  0%{left:-10%}
  100%{left:110%}
}

@keyframes sceetch{
  0%{right:-10%}
  100%{right:110%}
}

h1 {margin:0}

a:link {color:red;}
a:hover {color:green;}
a:visited {color:lightgreen;}
a:active {color:white;}

.main-text{
  padding:30px 20px 30px 20px;
}

.main-text-wrapper {
  background-color: rgba(128, 128, 128, 0.5);
  color:lightgrey;
  font-size:1em;
  /* font-family:Georgia */
  text-align:justify;
  z-index:1;
  position: absolute;
  left:40%;
  right:20%;
  width:100%;
  top:40%;
  transform:translateX(-40%);
}

  /* height: 50px;
  width: 50px */
}


.wrapper {
  position: relative;
}

.letter-k {font-size: 6em; 
  font-weight: bolder; 
  color: black;
  margin: 0 auto;
  font-family: sans-serif;
  z-index:2;
  -webkit-background-clip: text;
	color: rgba(0,0,0,0.7);
	background-image: url('./media/noise2.gif');
  user-select: none;}

.initial {
  /* background-image: url(./media/dancingman.gif); */
  background-color:black;
  background-size: auto 150%;
  background-position: 25% 50%;
  width: 100px;
  height: 110px;
  position: absolute;
  left: 50%;
  text-align: center;
  vertical-align: middle; 
  top: 10vmin;
  z-index: 1;
  transform: translateX(-50%);
  transform: translate(-30%);
  border-radius: 90px;
  border-style:solid;
  border-width:8px;
  border-color: rgba(189, 189, 189, 0.1);
  animation: colorchange-border 10s ease infinite
}


.marquee-wrapper {
  overflow: hidden;
  background-color:rgb(0,0,0);
  z-index:1;
}

.sliding-background {
  background: url("./media/darkness.png");
  /* height: 100vmin; */
  height: 150vh;
  width: 5076px;
  animation: slide 100s linear infinite;
  z-index: -1;
}

.gradient {
  background-image:linear-gradient(rgba(0,0,0,0) 10%, black 90%); 
  z-index:5;
  height:100%;
  width:100%;
}

.whitebar {
    background-color: green; 
    height:2vmin; 
    opacity: 0.8;
    position: relative;
    top: 20vmin;
    animation: colorchange 10s ease infinite;
}

figcaption {
  color:white; 
  margin-top:10px;
  font-size:1em;
  white-space: nowrap; 
  user-select: none;
}

figure.information-animation  {  
  position:fixed;
  bottom:0px;
  animation: scootch 30s ease infinite;
  user-select: none;
}

figure.landing-animation  {  
  position:fixed;
  bottom:0px;
  animation: sceetch 20s ease infinite;
  user-select: none;
}

img {
  height:50px
}


///

/*Information Styling */

.information p {color:white}

a span {opacity: 0; position: absolute; color: #fff; background: #000; padding: 5px;}
a {position: relative;}
a:hover span {display: inline-block; text-align: justify; color:rgb(181, 181, 181); z-index:5; margin: 30px; right:20px; box-shadow: 0px 0px 30px 15px rgba(234, 234, 234, 0.2); opacity:1;}

a, p {display:inline-block;}

div.references {
  width:100vw;
  columns:3;
}